h1, h2, h3, h4, h5, p {
  font-family: "PT Serif", serif;
  font-weight: 400; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.brickDivide {
  width: 54px;
  height: 6px;
  background-color: #F44236;
  margin: 15px 0px; }

.borderDivider {
  border-bottom: 1px solid #979797;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.center {
  margin-left: auto;
  margin-right: auto; }

.hero1Cont {
  background: url("../img/IMG_2278.jpg");
  position: relative;
  height: 75vh; }

.hero1 {
  position: absolute;
  width: 315px;
  height: 420px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px; }
  .hero1 h1 {
    margin-bottom: 0px; }
  .hero1 h4 {
    font-family: 'Montserrat', sans-serif;
    color: #A8A8A8;
    font-size: 14px;
    margin-bottom: 15px; }
  .hero1 p {
    margin: 0; }
  .hero1 .button {
    background-color: transparent;
    border: 1px solid #979797;
    color: #979797;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 10px;
    left: 0;
    margin: 0; }

.text1and2 {
  background-color: white; }
  .text1and2 h1 {
    margin-top: 50px;
    text-align: center; }
  .text1and2 p {
    margin-top: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 50px; }

body {
  background-color: #6B0F1A; }

.soqCont {
  height: auto;
  background-color: #6B0F1A;
  margin-top: 20px;
  margin-bottom: 80px; }
  .soqCont .soq {
    height: 100%; }
  .soqCont .iconCont {
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    border: 3px solid white;
    position: relative; }
    .soqCont .iconCont .icon {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .soqCont .soqHeader {
    color: white;
    text-align: center;
    margin-top: 30px; }
  .soqCont .soqDesc {
    color: white;
    text-align: center;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px; }
  .soqCont .soqButton {
    color: white;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .soqCont .soqButton:hover {
    border: 1px solid #F44236;
    color: #F44236; }

.clients {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #353531; }
  .clients h1, .clients h5 {
    text-align: center;
    color: white; }
  .clients h1 {
    margin-top: 50px; }
  .clients h5 {
    margin-bottom: 30px; }
  .clients .logo {
    width: 211px;
    height: 56px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
  .clients .logo:last-child {
    margin-bottom: 70px; }
  .clients .hudsontech {
    background: url("../img/logos/hudsontech.png");
    background-size: 211px 56px; }
  .clients .lynxspring {
    background: url("../img/logos/lynxspring.png");
    background-size: 211px 56px; }
  .clients .multistack {
    background: url("../img/logos/multistack.png");
    background-size: 211px 56px; }
  .clients .siemens {
    background: url("../img/logos/siemens.png");
    background-size: 211px 56px; }

.footer {
  background-color: white;
  margin-bottom: 0px !important;
  padding-left: 15px;
  padding-right: 15px; }
  .footer h1 {
    margin-top: 40px;
    font-weight: 700;
    margin-bottom: 20px; }
  .footer ::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; }
  .footer .button {
    background-color: #D8D8D8;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 111px;
    height: 32px; }
  .footer .contact p:last-child {
    margin-bottom: 25px; }

/* Medium and up */
@media screen and (min-width: 40em) {
  .hero1Cont {
    height: 65vh; }
  .hero1 {
    height: 410px;
    width: 435px; }
    .hero1 .button {
      top: 15px; }
  .text1 {
    border-right: 1px solid #979797;
    padding-right: 50px;
    padding-left: 50px; }
  .text2 {
    padding-right: 50px;
    padding-left: 50px; }
  .text1and2 .borderDivider {
    border-bottom: 0px; }
  .footer {
    margin-bottom: 40px; }
    .footer .contact {
      padding-left: 70px; }
    .footer .form {
      padding-left: 40px; } }

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .footer {
    height: auto; }
    .footer h1 {
      font-size: 40px; } }

/* Large and up */
@media screen and (min-width: 64em) {
  .hero1Cont {
    height: 75vh; }
  .hero1 {
    height: auto;
    left: 70%;
    width: auto; }
    .hero1 p {
      margin-bottom: 80px; }
    .hero1 .button {
      top: 0; }
  .text1and2 {
    height: 400px; }
    .text1and2 .text1 {
      height: 100%;
      padding-top: 70px;
      padding-left: 70px;
      padding-right: 70px; }
    .text1and2 .text2 {
      height: 100%;
      padding-top: 70px;
      padding-left: 70px;
      padding-right: 70px; }
  .clients {
    height: 500px;
    padding-top: 50px; }
    .clients .clientsCont {
      margin-top: 50px; }
    .clients .logoCont {
      text-align: center;
      margin-bottom: 80px; }
    .clients .logo {
      display: inline-block;
      margin: 0px;
      margin-right: 40px; }
    .clients .logo:last-child {
      margin-bottom: 0px;
      margin-right: 0px; }
  .footer {
    height: 500px; }
    .footer .form {
      height: 100%;
      padding-top: 100px;
      margin-left: 100px; }
    .footer .contact {
      height: 100%;
      padding-top: 100px;
      padding-left: 100px; } }

/* Large only */
